@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* Disable pull-to-refresh on mobile browsers */
  overscroll-behavior-y: contain;
  overscroll-behavior: contain;
  touch-action: pan-y;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-layout {
  display: flex;
  flex-direction: row;
}

.home-sidebar {
  width: 280px;
  height: 100%;
  order: 0;
}

.home-map {
  flex: 1;
  order: 0;
}

@media (max-width: 767px) {
  .home-layout {
    flex-direction: column;
  }

  .home-sidebar {
    width: 100%;
    height: 50%;
    order: 2;
  }

  .home-map {
    order: 1;
    height: 50%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
